<div *ngIf="showSpinner">
  <loading-spinner></loading-spinner>
</div>
<div *ngIf="allComments$ | async as allComments">
  <div>
    <div *ngFor="let comment of allComments | paginate: { id: 'all-comments' , itemsPerPage: pageSize, currentPage: currPage }"
      class="list-group-item list-group-item-action animated bounceInRight delay-0.5s slow">
      <p class="text-justify">{{comment.description | truncate: 35: '...' }}</p>
      <span class="text-justify ">
        <small> Posted by:
          <em>{{comment.creator}}</em> at: {{comment._kmd.ect | date}}</small>
        <delete-comment *ngIf="verification.isAdmin() || currentUserId === comment._acl.creator" [commentId]="comment._id"></delete-comment>
      </span>
    </div>
  </div>
  <div class="text-center" *ngIf="allComments.length === 0">
    <br>
    <h4>There are no created comments yet!</h4>
  </div>
  <div class="mt-2">
    <pagination-controls class="text-center" id="all-comments" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
      autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>