<div *ngIf="receivedMessages$ | async as receivedMessages" class="mt-4">
  <div class="mr-3 list-group-item list-group-item-action" *ngFor="let message of receivedMessages | paginate: { id: 'received-msg' , itemsPerPage: pageSize, currentPage: currPage }">
    <a routerLink="/user/message/details/{{message._id}}">
      <h4 class="text-justify">{{message.title}}</h4>
    </a>
    <p>{{message.content}}</p>
    <a *ngIf="verification.isAdmin()" routerLink="/user/profile/{{message._acl.creator}}">
      <span>Posted by: {{message.from}} </span>
    </a>
    <span>at: {{message._kmd.ect | date}}</span>
  </div>
  <div class="float-left mr-5">
    <pagination-controls id="received-msg" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <div class="text-center" *ngIf="receivedMessages.length === 0">
    <h5>There are no new messages!</h5>
  </div>
</div>