<form class="form-group" [formGroup]="commentForm" (ngSubmit)="submitCommentForm()">

  <div class="form-group">
    <label *ngIf="isClicked; else noClicked">
      <strong class="text-primary">Processing...</strong>
      <ng-template></ng-template>
    </label>
    <textarea class="form-control shadow-textarea" formControlName="description" rows="4" placeholder="Write something here..."></textarea>
    <div class="alert alert-danger animated flipInX delay-0.5s" *ngIf="description.invalid && (description.dirty || description.touched)">
      <div *ngIf="description.errors['required']">Comment cannot be empty</div>
      <div *ngIf="description.errors['maxlength']">Max symbols allowed 256</div>
    </div>
  </div>

  <button [disabled]="commentForm.invalid || isClicked" type="submit" class="btn btn-success float-right">{{this.buttonText}}</button>
  <ng-template #noClicked>
    <strong>Post your comment</strong>
  </ng-template>
</form>