<div class="container shadow-lg">
  <h1 class="display-3 text-center">View full message</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="messageDetails$ | async as messageDetails">
        <h2 class="text-justify">Title: {{messageDetails.title}}</h2>
        <p class="text-justify">Content: {{messageDetails.content}}</p>
        <a routerLink="/user/profile/{{messageDetails._acl.creator}}">
          <p class="text-justify">From: {{messageDetails.from}}</p>
        </a>
      </div>
    </div>
  </div>
</div>