<div *ngIf="showSpinner">
  <loading-spinner></loading-spinner>
</div>
<div *ngIf="allGames$ | async as allGames">
  <div class="container border rounded shadow-lg mt-3 bg-white">
    <h1 class="display-3 text-center">Game Store</h1>
    <hr>
    <form class="form-group col-md-6 offset-3" [formGroup]=searchForm>
      <label class="h4">Search for a name of game</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Search..." #searchedGames />
    </form>

    <div class="row">
      <div class="col-md-3">
        <categories></categories>
      </div>
      <div class="col-md-9">
        <h3 class="text-center">Games</h3>
        <div class="row">
          <div *ngFor="let game of allGames | paginate: { id: 'all-games' , itemsPerPage: pageSize, currentPage: currPage }  | filter:searchedGames.value ; let i = index"
            class="col-lg-4 align-items-stretch mt-3">
            <div class="card shadow-lg">
              <a routerLink="/game/details/{{game._id}}">
                <img class="card-img-top fix-img-size" [src]=game.image [alt]=game.title />
              </a>
              <div class="card-body bg-secondary text-center h-25 edit-color">
                <h5 class="card-title">{{game.title}}</h5>
              </div>
              <div class="card-footer bg-dark">
                <p class="card-text mt-2">
                  <add-to-cart [game]=game [id]=game._id ></add-to-cart>
                  <span class="mt-5 text-white">
                    <strong>{{game.price | currency}}</strong>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="offset-2" *ngIf="allGames.length === 0">
            <h2 class="offset-8 m-2">No games available in this category!</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <pagination-controls class="text-center" id="all-games" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
        autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>
