<div *ngIf="showSpinner">
  <loading-spinner></loading-spinner>
</div>
<h2 class="text-center">Written comments</h2>
<hr>
<div *ngIf="userComments$ | async as userComments">
  <div *ngFor="let comment of userComments | paginate: { id: 'my-comments' , itemsPerPage: pageSize, currentPage: currPage }" class="list-group-item list-group-item-action">
    <p class="text-justify">{{comment.description}}</p>
    <span class="text-justify ">
      <small> Posted by:
        <em>{{comment.creator}}</em> at: {{comment._kmd.ect | date}}</small>
      <delete-comment [commentId]="comment._id"></delete-comment>
    </span>
  </div>
  <pagination-controls id="my-comments" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" responsive="true"
    previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
  <div class="text-center" *ngIf="userComments.length === 0">
    <h2>You haven't written any comments yet!</h2>
  </div>
</div>