<div class="row">
  <div class="col-md-4">
    <h2 class="text-center">Create message</h2>
    <my-create-message></my-create-message>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Sent messages</h2>
    <div class="col-md-12 mt-4">
      <my-sent-messages></my-sent-messages>
    </div>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Received messages</h2>
    <div class="col-md-12 mt-4">
      <my-received-messages></my-received-messages>
    </div>
  </div>
</div>