<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">Sent messages</h2>
    <div *ngIf="sentMessages$" class="mt-4">
      <div class="mr-3 list-group-item list-group-item-action" *ngFor="let message of sentMessages$ | async">
        <a routerLink="/user/message/details/{{message._id}}">
          <h4 class="text-justify">{{message.title}}</h4>
        </a>
        <p>{{message.content}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">Received messages</h2>
    <received-messages></received-messages>
  </div>
</div>
