<div class="container shadow-lg">
  <h1 class="display-3 text-center">View full message</h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="messageDetails$ | async as messageDetails">
        <a *ngIf="verification.isAdmin(); else normalTitle" [routerLink]="['/user/profile/orders/details/', messageDetails.title]"><h2
            class="text-justify">Title: {{messageDetails.title}}</h2></a>
        <p class="text-justify">Content: {{messageDetails.content}}</p>
        <a *ngIf="verification.isAdmin()" routerLink="/user/profile/{{messageDetails._acl.creator}}">
          <p class="text-justify">From: {{messageDetails.from}}</p>
        </a>
        <ng-template #normalTitle>
          <h2 class="text-justify">Title: {{messageDetails.title}}</h2>
        </ng-template>
      </div>
    </div>
  </div>
</div>